<div>
    <div>
        <h2>Aluno</h2>
    </div>
    <div>
        <form action="/aluno" method="post" id="frmAluno">
            <div class="form-group">
                <input type="hidden" id="id" name="id" value="0">
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" id="sobrenome" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectCurso">Curso</label>
                <select name="selectCurso" id="selectCurso" class="form-control"></select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="ativo" name="ativo">
                <label class="form-check-label" for="ativo">Ativo</label>
            </div>
            <input type="submit" value="Enviar" id="btnEnviar" class="btn btn-primary">
        </form>
    </div>
    <hr>
    <div>
        {{#if aluno}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Curso</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each aluno}}
                <tr>
                    <td>
                        {{id}}
                    </td>
                    <td>
                        {{nome}}
                    </td>
                    <td>
                        {{sobrenome}}
                    </td>
                    <td>
                        {{ativo}}
                    </td>
                    <td>
                        {{curso}}
                    </td>
                    <td>
                        <button value="{{id}}" class="btnDeletarAluno btn btn-danger">Deletar</button>
                    </td>
                    <td>
                        <button value="{{id}}" class="btnAtualizarAluno btn btn-warning">Atualizar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
</div>